In [1]:
1+1

2

In [2]:
import pandas as pd
import numpy as np
import os
import sys
import scipy
import csv
from pandas import Series, DataFrame, read_excel

**import the file in csv format**

In [3]:
txi_lengthscaledTPM_WT= pd.read_csv('txi_lengthscaledTPM_WT.csv')

**Visualizing the selected column**

In [4]:
txi_lengthscaledTPM_WT.head()

,Transcript_ID,abundance.Controlrep1,abundance.Controlrep2,abundance.Controlrep3,abundance.Controlrep4,abundance.Controlrep5,abundance.Controlrep6,counts.Controlrep1,counts.Controlrep2,counts.Controlrep3,counts.Controlrep4,counts.Controlrep5,counts.Controlrep6,length.Controlrep1,length.Controlrep2,length.Controlrep3,length.Controlrep4,length.Controlrep5,length.Controlrep6,countsFromAbundance
0,MSTRG.1,6.483969,4.124629,6.369704,4.792945,3.000356,5.125094,398,267,415,308,208,314,1474.977000,1497.499000,1502.944000,1517.653000,1544.343000,1495.067000,lengthScaledTPM
1,MSTRG.10,19.337483,13.387297,19.873034,18.905987,16.020265,19.316794,791,578,862,809,739,788,962.709189,987.936012,993.700130,1025.157463,1036.076688,1011.567972,lengthScaledTPM
2,MSTRG.100,0.511333,1.434536,0.535550,3.344224,4.671785,3.449529,24,72,27,165,249,163,1196.629000,1132.513000,1186.015000,1180.450000,1094.851000,1166.322000,lengthScaledTPM
3,MSTRG.1000,81.650916,95.963162,89.265808,79.504876,72.994182,84.313197,5547,6879,6429,5649,5588,5709,1679.745597,1687.835429,1643.385762,1663.835732,1650.149856,1664.363362,lengthScaledTPM
4,MSTRG.10000,6.147123,7.241106,6.751019,17.445138,17.759656,17.193343,338,420,393,1003,1100,942,1373.697761,1302.269929,1387.226311,1362.269468,1311.564639,1344.187140,lengthScaledTPM

In [5]:
len(txi_lengthscaledTPM_WT)

22899

**Read the text file with the tab delimiter**

In [47]:
A3SS = pd.read_csv('A3SS.MATS.JCEC.txt', delimiter = '\t')
A5SS = pd.read_csv('A5SS.MATS.JCEC.txt', delimiter = '\t')
MXE = pd.read_csv('MXE.MATS.JCEC.txt', delimiter = '\t')
RI = pd.read_csv('RI.MATS.JCEC.txt', delimiter = '\t')
SE = pd.read_csv('SE.MATS.JCEC.txt', delimiter = '\t')
ENSEMBL_Data = pd.read_csv('ENSEMBL_44_data.txt', delimiter = '\t')
#ID_convert = pd.read_csv('tx2gene-WT.csv', delimiter = ',')

In [48]:
A3SS= DataFrame(A3SS)
A5SS= DataFrame(A5SS)
MXE= DataFrame(MXE)
RI= DataFrame(RI)
SE= DataFrame(SE)
txi_lengthscaledTPM_WT = DataFrame(txi_lengthscaledTPM_WT)
ENSEMBL_Data = DataFrame(ENSEMBL_Data)
#ID_convert = DataFrame(ID_convert)

In [49]:
#ID_convert.head(n=10)

# interchanging the columns, since TXNAME is first in the input file

In [9]:
#ID_convert1= ID_convert[['GENEID', 'TXNAME']]
#ID_convert1["TXNAME"]=ID_convert1["TXNAME"].str.slice(0,-2)

In [10]:
#ID_convert2 = ID_convert1.drop(ID_convert1[(ID_convert1["GENEID"]) == (ID_convert1["TXNAME"])].index)
#ID_convert2 = ID_convert2.drop(ID_convert2[(ID_convert2["TXNAME"]).map(len) > 9].index)
#ID_convert2 = ID_convert2.drop(ID_convert2[(ID_convert2["TXNAME"]).map(len) <9].index)

In [11]:
#ID_convert3 = ID_convert2.drop_duplicates(["GENEID", "TXNAME"], keep = 'first')

In [12]:
#ID_convert3.head()

In [13]:
#ID_convert3["count"]= ID_convert3["TXNAME"].str.len()
#ID_convert3.head()

In [13]:
#ID_convert3.to_csv('ID_convert3.csv', header=True, index=False)

In [50]:
#A3SS.tail(n=5)
#len(A3SS)
#len(A5SS)
#len(MXE)
#len(RI)
#len(SE)
txi_lengthscaledTPM_WT.head()

,Transcript_ID,abundance.Controlrep1,abundance.Controlrep2,abundance.Controlrep3,abundance.Controlrep4,abundance.Controlrep5,abundance.Controlrep6,counts.Controlrep1,counts.Controlrep2,counts.Controlrep3,counts.Controlrep4,counts.Controlrep5,counts.Controlrep6,length.Controlrep1,length.Controlrep2,length.Controlrep3,length.Controlrep4,length.Controlrep5,length.Controlrep6,countsFromAbundance
0,MSTRG.1,6.483969,4.124629,6.369704,4.792945,3.000356,5.125094,398,267,415,308,208,314,1474.977000,1497.499000,1502.944000,1517.653000,1544.343000,1495.067000,lengthScaledTPM
1,MSTRG.10,19.337483,13.387297,19.873034,18.905987,16.020265,19.316794,791,578,862,809,739,788,962.709189,987.936012,993.700130,1025.157463,1036.076688,1011.567972,lengthScaledTPM
2,MSTRG.100,0.511333,1.434536,0.535550,3.344224,4.671785,3.449529,24,72,27,165,249,163,1196.629000,1132.513000,1186.015000,1180.450000,1094.851000,1166.322000,lengthScaledTPM
3,MSTRG.1000,81.650916,95.963162,89.265808,79.504876,72.994182,84.313197,5547,6879,6429,5649,5588,5709,1679.745597,1687.835429,1643.385762,1663.835732,1650.149856,1664.363362,lengthScaledTPM
4,MSTRG.10000,6.147123,7.241106,6.751019,17.445138,17.759656,17.193343,338,420,393,1003,1100,942,1373.697761,1302.269929,1387.226311,1362.269468,1311.564639,1344.187140,lengthScaledTPM

**Removing the duplicates based on a single column, but it will drop the corresponding other columns too**

**A3SS_remove_duplicates = A3SS.drop_duplicates(['GeneID'])**

In [15]:
A3SS_lengthscaledTPM = A3SS.merge(txi_lengthscaledTPM_WT, left_on = 'GeneID', right_on = 'Transcript_ID', how = 'left')
A5SS_lengthscaledTPM = A5SS.merge(txi_lengthscaledTPM_WT, left_on = 'GeneID', right_on = 'Transcript_ID', how = 'left')
MXE_lengthscaledTPM = MXE.merge(txi_lengthscaledTPM_WT, left_on = 'GeneID', right_on = 'Transcript_ID', how = 'left')
RI_lengthscaledTPM = RI.merge(txi_lengthscaledTPM_WT, left_on = 'GeneID', right_on = 'Transcript_ID', how = 'left')
SE_lengthscaledTPM = SE.merge(txi_lengthscaledTPM_WT, left_on = 'GeneID', right_on = 'Transcript_ID', how = 'left')

In [16]:
#A3SS_lengthscaledTPM.to_csv('A3SS_lengthscaledTPM.csv', header=True, index=False)
#A5SS_lengthscaledTPM.to_csv('A5SS_lengthscaledTPM.csv', header=True, index=False)
#MXE_lengthscaledTPM.to_csv('MXE_lengthscaledTPM.csv', header=True, index=False)
#RI_lengthscaledTPM.to_csv('RI_lengthscaledTPM.csv', header=True, index=False)
#SE_lengthscaledTPM.to_csv('SE_lengthscaledTPM.csv', header=True, index=False)

**Read columns in the dataframe**

In [17]:
#A3SS.columns
A3SS_lengthscaledTPM.columns

Index(['ID', 'GeneID', 'geneSymbol', 'chr', 'strand', 'longExonStart_0base',
       'longExonEnd', 'shortES', 'shortEE', 'flankingES', 'flankingEE', 'ID.1',
       'IJC_SAMPLE_1', 'SJC_SAMPLE_1', 'IJC_SAMPLE_2', 'SJC_SAMPLE_2',
       'IncFormLen', 'SkipFormLen', 'PValue', 'FDR', 'IncLevel1', 'IncLevel2',
       'IncLevelDifference', 'Transcript_ID', 'abundance.Controlrep1',
       'abundance.Controlrep2', 'abundance.Controlrep3',
       'abundance.Controlrep4', 'abundance.Controlrep5',
       'abundance.Controlrep6', 'counts.Controlrep1', 'counts.Controlrep2',
       'counts.Controlrep3', 'counts.Controlrep4', 'counts.Controlrep5',
       'counts.Controlrep6', 'length.Controlrep1', 'length.Controlrep2',
       'length.Controlrep3', 'length.Controlrep4', 'length.Controlrep5',
       'length.Controlrep6', 'countsFromAbundance'],
      dtype='object')

**Read selected columns by putting as a list**

In [18]:
#print(A3SS_lengthscaledTPM[['GeneID', 'chr', 'strand']])

**Read selected row**

In [19]:
#print(A3SS_lengthscaledTPM.iloc[1:4])

**Sorting the values based on the ascending[1] or descending[0] order for two columns**

In [20]:
A3SS_sorted = A3SS_lengthscaledTPM.sort_values(['GeneID', 'PValue'], ascending=[0,1])

**Drop of the respective columns from the desired dataframe**

#droped = A3SS_sorted.drop(columns=['countsFromAbundance'])

**Filtering based on the FDR value**

#A3SS_significant = A3SS_lengthscaledTPM.loc[(A3SS_lengthscaledTPM['FDR'] < 0.05)]
#A5SS_significant = A5SS_lengthscaledTPM.loc[(A5SS_lengthscaledTPM['FDR'] < 0.05)]
#MXE_significant = MXE_lengthscaledTPM.loc[(MXE_lengthscaledTPM['FDR'] < 0.05)]
#RI_significant = RI_lengthscaledTPM.loc[(RI_lengthscaledTPM['FDR'] < 0.05)]
#SE_significant = SE_lengthscaledTPM.loc[(SE_lengthscaledTPM['FDR'] < 0.05)]

#A3SS_significant

**Shortlist the counts based on FDR<0.05 and TPM>1 in all the samples**

In [21]:
A3SS_shortlisted = A3SS_lengthscaledTPM.loc[(A3SS_lengthscaledTPM['FDR'] < 0.05) & (A3SS_lengthscaledTPM['abundance.Controlrep1'] > 1.0) & (A3SS_lengthscaledTPM['abundance.Controlrep2'] > 1.0) & (A3SS_lengthscaledTPM['abundance.Controlrep3'] > 1.0) & (A3SS_lengthscaledTPM['abundance.Controlrep4'] > 1.0) & (A3SS_lengthscaledTPM['abundance.Controlrep5'] > 1.0) & (A3SS_lengthscaledTPM['abundance.Controlrep6'] > 1.0)]
A5SS_shortlisted = A5SS_lengthscaledTPM.loc[(A5SS_lengthscaledTPM['FDR'] < 0.05) & (A5SS_lengthscaledTPM['abundance.Controlrep1'] > 1.0) & (A5SS_lengthscaledTPM['abundance.Controlrep2'] > 1.0) & (A5SS_lengthscaledTPM['abundance.Controlrep3'] > 1.0) & (A5SS_lengthscaledTPM['abundance.Controlrep4'] > 1.0) & (A5SS_lengthscaledTPM['abundance.Controlrep5'] > 1.0) & (A5SS_lengthscaledTPM['abundance.Controlrep6'] > 1.0)]
MXE_shortlisted = MXE_lengthscaledTPM.loc[(MXE_lengthscaledTPM['FDR'] < 0.05) & (MXE_lengthscaledTPM['abundance.Controlrep1'] > 1.0) & (MXE_lengthscaledTPM['abundance.Controlrep2'] > 1.0) & (MXE_lengthscaledTPM['abundance.Controlrep3'] > 1.0) & (MXE_lengthscaledTPM['abundance.Controlrep4'] > 1.0) & (MXE_lengthscaledTPM['abundance.Controlrep5'] > 1.0) & (MXE_lengthscaledTPM['abundance.Controlrep6'] > 1.0)]
RI_shortlisted = RI_lengthscaledTPM.loc[(RI_lengthscaledTPM['FDR'] < 0.05) & (RI_lengthscaledTPM['abundance.Controlrep1'] > 1.0) & (RI_lengthscaledTPM['abundance.Controlrep2'] > 1.0) & (RI_lengthscaledTPM['abundance.Controlrep3'] > 1.0) & (RI_lengthscaledTPM['abundance.Controlrep4'] > 1.0) & (RI_lengthscaledTPM['abundance.Controlrep5'] > 1.0) & (RI_lengthscaledTPM['abundance.Controlrep6'] > 1.0)]
SE_shortlisted = SE_lengthscaledTPM.loc[(SE_lengthscaledTPM['FDR'] < 0.05) & (SE_lengthscaledTPM['abundance.Controlrep1'] > 1.0) & (SE_lengthscaledTPM['abundance.Controlrep2'] > 1.0) & (SE_lengthscaledTPM['abundance.Controlrep3'] > 1.0) & (SE_lengthscaledTPM['abundance.Controlrep4'] > 1.0) & (SE_lengthscaledTPM['abundance.Controlrep5'] > 1.0) & (SE_lengthscaledTPM['abundance.Controlrep6'] > 1.0)]

In [22]:
SE_shortlisted.head(n=2)

,ID,GeneID,geneSymbol,chr,strand,exonStart_0base,exonEnd,upstreamES,upstreamEE,downstreamES,...,counts.Controlrep4,counts.Controlrep5,counts.Controlrep6,length.Controlrep1,length.Controlrep2,length.Controlrep3,length.Controlrep4,length.Controlrep5,length.Controlrep6,countsFromAbundance
4,3367,MSTRG.709,A1,chr1,-,2464912,2465076,2464330,2464814,2465409,...,16936,15258,15053,2192.520496,2140.497784,2206.867284,2221.834259,2235.255127,2191.434489,lengthScaledTPM
10,4257,MSTRG.330,ABCC5,chr1,-,1067626,1067676,1066851,1067550,1067762,...,8034,5313,8112,4529.647813,4537.341178,4604.085766,4602.490394,4602.663164,4595.289668,lengthScaledTPM

In [31]:
SE_shortlisted.columns

Index(['ID', 'GeneID', 'geneSymbol', 'chr', 'strand', 'exonStart_0base',
       'exonEnd', 'upstreamES', 'upstreamEE', 'downstreamES', 'downstreamEE',
       'ID.1', 'IJC_SAMPLE_1', 'SJC_SAMPLE_1', 'IJC_SAMPLE_2', 'SJC_SAMPLE_2',
       'IncFormLen', 'SkipFormLen', 'PValue', 'FDR', 'IncLevel1', 'IncLevel2',
       'IncLevelDifference', 'Transcript_ID', 'abundance.Controlrep1',
       'abundance.Controlrep2', 'abundance.Controlrep3',
       'abundance.Controlrep4', 'abundance.Controlrep5',
       'abundance.Controlrep6', 'counts.Controlrep1', 'counts.Controlrep2',
       'counts.Controlrep3', 'counts.Controlrep4', 'counts.Controlrep5',
       'counts.Controlrep6', 'length.Controlrep1', 'length.Controlrep2',
       'length.Controlrep3', 'length.Controlrep4', 'length.Controlrep5',
       'length.Controlrep6', 'countsFromAbundance'],
      dtype='object')

In [60]:
Ensembl_exons= pd.read_csv('df_genes3.csv')

In [61]:
Ensembl_exons.head(n=2)

   exonStart_0base   end    gene_ID
0             3630  3913  AT1G01010
1             3995  4276  AT1G01010

In [62]:
Ensembl_exons.columns

Index(['exonStart_0base', 'end', 'gene_ID'], dtype='object')

In [63]:
SE_annotated_new = SE_shortlisted.merge(Ensembl_exons, left_on = ['exonStart_0base', 'exonEnd'], right_on = ['exonStart_0base', 'end'], how = 'left')

In [64]:
SE_annotated_new.head()

,ID,GeneID,geneSymbol,chr,strand,exonStart_0base,exonEnd,upstreamES,upstreamEE,downstreamES,...,counts.Controlrep6,length.Controlrep1,length.Controlrep2,length.Controlrep3,length.Controlrep4,length.Controlrep5,length.Controlrep6,countsFromAbundance,end,gene_ID
0,3367,MSTRG.709,A1,chr1,-,2464912,2465076,2464330,2464814,2465409,...,15053,2192.520496,2140.497784,2206.867284,2221.834259,2235.255127,2191.434489,lengthScaledTPM,2465076.0,AT1G07940
1,4257,MSTRG.330,ABCC5,chr1,-,1067626,1067676,1066851,1067550,1067762,...,8112,4529.647813,4537.341178,4604.085766,4602.490394,4602.663164,4595.289668,lengthScaledTPM,NaN,NaN
2,2197,MSTRG.702,APX1,chr1,+,2437677,2437833,2437477,2437555,2437992,...,37845,1331.740198,1247.283059,1360.203765,1352.961255,1320.457423,1322.991319,lengthScaledTPM,2437833.0,AT1G07890
3,2198,MSTRG.702,APX1,chr1,+,2437680,2437833,2437436,2437555,2437992,...,37845,1331.740198,1247.283059,1360.203765,1352.961255,1320.457423,1322.991319,lengthScaledTPM,2437833.0,AT1G07890
4,4334,MSTRG.4006,ATDI19,chr1,-,21073908,21073974,21073560,21073793,21074056,...,38384,802.852572,803.163744,814.348691,815.806750,822.365067,819.523287,lengthScaledTPM,21073974.0,AT1G56280

In [65]:
#SE_final = SE_annotated.merge(ENSEMBL_Data, left_on = 'TXNAME', right_on = 'Gene stable ID', how = 'left')

In [66]:
SE_annotated_new.to_csv('SE_annotated_new1.csv', header=True, index=False)

In [59]:
#ID_convert3.head(n=2)

In [25]:
#A3SS_annotated = A3SS_shortlisted.merge(ID_convert3, left_on = 'GeneID', right_on = 'GENEID', how = 'left')
#A5SS_annotated = A5SS_shortlisted.merge(ID_convert3, left_on = 'GeneID', right_on = 'GENEID', how = 'left')
#MXE_annotated = MXE_shortlisted.merge(ID_convert3, left_on = 'GeneID', right_on = 'GENEID', how = 'left')
#RI_annotated = RI_shortlisted.merge(ID_convert3, left_on = 'GeneID', right_on = 'GENEID', how = 'left')
#SE_annotated = SE_shortlisted.merge(ID_convert3, left_on = 'GeneID', right_on = 'GENEID', how = 'left')

In [26]:
#A3SS_annotated.head()
#A5SS_annotated.head()
#MXE_annotated.head()
#RI_annotated.head()
#SE_annotated.head()

,ID,GeneID,geneSymbol,chr,strand,longExonStart_0base,longExonEnd,shortES,shortEE,flankingES,...,counts.Controlrep6,length.Controlrep1,length.Controlrep2,length.Controlrep3,length.Controlrep4,length.Controlrep5,length.Controlrep6,countsFromAbundance,GENEID,TXNAME
0,5,MSTRG.6588,GONST1,chr2,-,5689496,5689626,5689496,5689561,5689953,...,677,936.091122,940.233346,946.156292,951.704775,882.980569,982.214315,lengthScaledTPM,MSTRG.6588,AT2G13650
1,18,MSTRG.20842,NaN,chr5,-,17572168,17572260,17572168,17572255,17572399,...,3205,2400.760961,2426.084848,2413.271462,2460.643871,2479.174865,2460.664781,lengthScaledTPM,MSTRG.20842,AT5G43745
2,26,MSTRG.5168,NAP5,chr1,-,26884938,26885161,26884938,26885117,26885233,...,4292,2127.942001,2036.053063,2050.929884,2131.670480,1882.553509,2121.528295,lengthScaledTPM,MSTRG.5168,AT1G71330
3,26,MSTRG.5168,NAP5,chr1,-,26884938,26885161,26884938,26885117,26885233,...,4292,2127.942001,2036.053063,2050.929884,2131.670480,1882.553509,2121.528295,lengthScaledTPM,MSTRG.5168,AT1G71340
4,26,MSTRG.5168,NAP5,chr1,-,26884938,26885161,26884938,26885117,26885233,...,4292,2127.942001,2036.053063,2050.929884,2131.670480,1882.553509,2121.528295,lengthScaledTPM,MSTRG.5168,AT1G71350

In [27]:
ENSEMBL_Data.head()

  Gene stable ID Gene name Gene type                          Gene description
0      AT3G11415       NaN     ncRNA                                       NaN
1      AT1G31258       NaN     ncRNA     other RNA [Source:TAIR;Acc:AT1G31258]
2      AT5G24735       NaN     ncRNA     other RNA [Source:TAIR;Acc:AT5G24735]
3      AT2G45780       NaN     ncRNA     other RNA [Source:TAIR;Acc:AT2G45780]
4      AT2G42425       NaN     ncRNA  Unknown gene [Source:TAIR;Acc:AT2G42425]

A3SS_annotated.to_csv('A3SS_annotated.csv', header=True, index=False)
A5SS_annotated.to_csv('A5SS_annotated.csv', header=True, index=False)
MXE_annotated.to_csv('MXE_annotated.csv', header=True, index=False)
RI_annotated.to_csv('RI_annotated.csv', header=True, index=False)
SE_annotated.to_csv('SE_annotated.csv', header=True, index=False)

In [28]:
A3SS_final = A3SS_annotated.merge(ENSEMBL_Data, left_on = 'TXNAME', right_on = 'Gene stable ID', how = 'left')
A5SS_final = A5SS_annotated.merge(ENSEMBL_Data, left_on = 'TXNAME', right_on = 'Gene stable ID', how = 'left')
MXE_final = MXE_annotated.merge(ENSEMBL_Data, left_on = 'TXNAME', right_on = 'Gene stable ID', how = 'left')
RI_final = RI_annotated.merge(ENSEMBL_Data, left_on = 'TXNAME', right_on = 'Gene stable ID', how = 'left')
SE_final = SE_annotated.merge(ENSEMBL_Data, left_on = 'TXNAME', right_on = 'Gene stable ID', how = 'left')

In [29]:
A3SS_final.head()

,ID,GeneID,geneSymbol,chr,strand,longExonStart_0base,longExonEnd,shortES,shortEE,flankingES,...,length.Controlrep4,length.Controlrep5,length.Controlrep6,countsFromAbundance,GENEID,TXNAME,Gene stable ID,Gene name,Gene type,Gene description
0,5,MSTRG.6588,GONST1,chr2,-,5689496,5689626,5689496,5689561,5689953,...,951.704775,882.980569,982.214315,lengthScaledTPM,MSTRG.6588,AT2G13650,AT2G13650,GONST1,protein_coding,GDP-mannose transporter (Fragment) [Source:Uni...
1,18,MSTRG.20842,NaN,chr5,-,17572168,17572260,17572168,17572255,17572399,...,2460.643871,2479.174865,2460.664781,lengthScaledTPM,MSTRG.20842,AT5G43745,AT5G43745,NaN,protein_coding,Putative ion channel POLLUX-like 2 [Source:Uni...
2,26,MSTRG.5168,NAP5,chr1,-,26884938,26885161,26884938,26885117,26885233,...,2131.670480,1882.553509,2121.528295,lengthScaledTPM,MSTRG.5168,AT1G71330,AT1G71330,NAP5,protein_coding,Probable non-intrinsic ABC protein 5 [Source:U...
3,26,MSTRG.5168,NAP5,chr1,-,26884938,26885161,26884938,26885117,26885233,...,2131.670480,1882.553509,2121.528295,lengthScaledTPM,MSTRG.5168,AT1G71340,AT1G71340,GDPD4,protein_coding,Glycerophosphodiester phosphodiesterase GDPD4 ...
4,26,MSTRG.5168,NAP5,chr1,-,26884938,26885161,26884938,26885117,26885233,...,2131.670480,1882.553509,2121.528295,lengthScaledTPM,MSTRG.5168,AT1G71350,AT1G71350,NaN,protein_coding,Eukaryotic translation initiation factor SUI1 ...

In [30]:
A3SS_final.to_csv('A3SS_final1.csv', header=True, index=False)
A5SS_final.to_csv('A5SS_final1.csv', header=True, index=False)
MXE_final.to_csv('MXE_final1.csv', header=True, index=False)
RI_final.to_csv('RI_final1.csv', header=True, index=False)
SE_final.to_csv('SE_final1.csv', header=True, index=False)

In [31]:
#len(A3SS_final)
#len(A5SS_final)
#len(MXE_final)
#len(RI_final)
len(SE_final)

287

In [32]:
A3SS_final['count'] = 1
A3SS_groupby = A3SS_final.groupby(['Gene type']).count()['count']
A3SS_groupby

Gene type
lncRNA                 11
ncRNA                   3
nontranslating_CDS      2
protein_coding        461
snoRNA                  3
Name: count, dtype: int64

In [33]:
A3SS_final.columns

Index(['ID', 'GeneID', 'geneSymbol', 'chr', 'strand', 'longExonStart_0base',
       'longExonEnd', 'shortES', 'shortEE', 'flankingES', 'flankingEE', 'ID.1',
       'IJC_SAMPLE_1', 'SJC_SAMPLE_1', 'IJC_SAMPLE_2', 'SJC_SAMPLE_2',
       'IncFormLen', 'SkipFormLen', 'PValue', 'FDR', 'IncLevel1', 'IncLevel2',
       'IncLevelDifference', 'Transcript_ID', 'abundance.Controlrep1',
       'abundance.Controlrep2', 'abundance.Controlrep3',
       'abundance.Controlrep4', 'abundance.Controlrep5',
       'abundance.Controlrep6', 'counts.Controlrep1', 'counts.Controlrep2',
       'counts.Controlrep3', 'counts.Controlrep4', 'counts.Controlrep5',
       'counts.Controlrep6', 'length.Controlrep1', 'length.Controlrep2',
       'length.Controlrep3', 'length.Controlrep4', 'length.Controlrep5',
       'length.Controlrep6', 'countsFromAbundance', 'GENEID', 'TXNAME',
       'Gene stable ID', 'Gene name', 'Gene type', 'Gene description',
       'count'],
      dtype='object')

In [34]:
A3SS_gene = A3SS_final[['Gene stable ID', 'Gene type']]
A5SS_gene = A5SS_final[['Gene stable ID', 'Gene type']]
MXE_gene = MXE_final[['Gene stable ID', 'Gene type']]
RI_gene = RI_final[['Gene stable ID', 'Gene type']]
SE_gene = SE_final[['Gene stable ID', 'Gene type']]

In [35]:
A3SS_gene.head(n=10)

  Gene stable ID       Gene type
0      AT2G13650  protein_coding
1      AT5G43745  protein_coding
2      AT1G71330  protein_coding
3      AT1G71340  protein_coding
4      AT1G71350  protein_coding
5      AT2G18440           ncRNA
6      AT4G26555  protein_coding
7      AT3G11470  protein_coding
8      AT1G67320  protein_coding
9      AT1G67325  protein_coding

**Select unique values from a particular column**

In [36]:
A3SS_gene_type = A3SS_final['GeneID'].unique().tolist()
A5SS_gene_type = A5SS_final['GeneID'].unique().tolist()
MXE_gene_type = MXE_final['GeneID'].unique().tolist()
RI_gene_type = RI_final['GeneID'].unique().tolist()
SE_gene_type = SE_final['GeneID'].unique().tolist()

In [37]:
print('','Trancript number in A3SS :', len(A3SS_gene_type),'\n','Trancript number in A5SS :', len(A5SS_gene_type),'\n','Trancript number in MXE :', len(MXE_gene_type),'\n','Trancript number in RI :', len(RI_gene_type),'\n','Trancript number in SE :', len(SE_gene_type))

 Trancript number in A3SS : 348
 Trancript number in A5SS : 229
 Trancript number in MXE : 0
 Trancript number in RI : 842
 Trancript number in SE : 181

In [38]:
A3SS_gene_no = A3SS_final['Gene stable ID'].unique().tolist()
A5SS_gene_no = A5SS_final['Gene stable ID'].unique().tolist()
MXE_gene_no = MXE_final['Gene stable ID'].unique().tolist()
RI_gene_no = RI_final['Gene stable ID'].unique().tolist()
SE_gene_no = SE_final['Gene stable ID'].unique().tolist()

In [39]:
print('','Number of gene in A3SS :', len(A3SS_gene_no),'\n','Number of gene in A5SS :', len(A5SS_gene_no),'\n','Number of gene in MXE :', len(MXE_gene_no),'\n','Number of gene in RI :', len(RI_gene_no),'\n','Number of gene in SE :', len(SE_gene_no))

 Number of gene in A3SS : 430
 Number of gene in A5SS : 287
 Number of gene in MXE : 0
 Number of gene in RI : 1029
 Number of gene in SE : 229

In [40]:
A3SS_selected = DataFrame(A3SS_final[['Gene type']])

In [41]:
len(A3SS_selected)

483

In [42]:
A3SS_selected['count'] = 1
A3SS_groupby1 = A3SS_selected.groupby(['Gene type']).count()['count']
A3SS_groupby1

Gene type
lncRNA                 11
ncRNA                   3
nontranslating_CDS      2
protein_coding        461
snoRNA                  3
Name: count, dtype: int64